.title {
  margin-top: 125px;
}
.paragraph {
  margin-top: 31px;
}
.button__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
.button {
  margin-top: 98px;
  padding: 22px 75px;
  border: none;
  background-color: #ff4343;
  max-width: 369px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.button:hover {
  background: #e71414;
}
.button:active {
  background: #ff4343;
  box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .title {
    margin-top: 52px;
  }
  .button {
    padding: 15px 30px;
    max-width: 280px;
    margin-top: 68px;
  }
  .paragraph {
    font-size: 14px;
    line-height: 16px;
  }
}
