.footer__wrap{
    background: #353C65;
}
.copyright{
   background:#2C3154 ; 
}
.foot-list{
    display: flex;
    justify-content: center;
    gap:130px;
}
.foot__item{
    max-width:370px;
}
.copy_paragraph{
    max-width: 370px;
    text-align: center;
}