.work {
  margin-top: 110px;
}
.work_wrap {
  display: flex;
  flex-wrap: wrap;
}
.work__images {
  width: 379px;
  height: 340px;
}
.work__images:hover {
  background-color: red;
}
@media (max-width: 1024px) {
  .work__images {
    width: 160px;
    height: 144px;
  }
  .work_wrap{
    width: 320px;
    margin: 0 auto;
  }
  
}
